mixin service()
    section.service
        .service__wrapper
            h3.service__subtitle.subtitle Сделай шаг к мечте
            h2.service__title.title Выбери свою стратегию
            .service__list.traced.hidd-block#service
                .service__item
                    .service__icon.icon
                        i.fas.fa-cubes
                    .service__name Пассивный инвестор
                    .service__description.text
                        | + Полный пассив<br>
                        | + Личный наставник<br>
                        | + Прибыль от 20 до 300% в год<br>
                        | + Капитал от 100$
                    a.service__link(href="#popup-form") Выбрать
                .service__item
                    .service__icon.icon
                        i.fas.fa-briefcase
                    .service__name Пассивный инвестор +
                    .service__description.text
                        | + Личный наставник<br>
                        | + Обучение финансовый грамотности от клуба<br>
                        | + Прибыль от 20 до 300% в год<br>
                        | + Стартовый капитал от 400$
                    a.service__link(href="#popup-form") Выбрать
                .service__item
                    .service__icon.icon
                        i.fas.fa-chart-line
                    .service__name Активный инвестор
                    .service__description.text
                        | + Личный наставник<br>
                        | + Базовое обучение<br>
                        | + Информация по проектам<br>
                        | + Командная работа<br>
                        | + Прибыль от 10% до 30% в месяц<br>
                        | + Стартовый капитал 500$
                    a.service__link(href="#popup-form") Выбрать
                .service__item
                    .service__icon.icon
                        i.fas.fa-donate
                    .service__name Быстрый старт
                    .service__description.text
                        | + Личный наставник<br>
                        | + Базовое обучение<br>
                        | + Обучение клуба<br>
                        | + Информация по проектам<br>
                        | + Командная работа <br>
                        | + Обучение Instagram<br>
                        | + Прибыль от 10 до 30% в месяц<br>
                        | + Стартовый капитал от 1000$
                    a.service__link(href="#popup-form") Выбрать
                .service__item
                    .service__icon.icon
                        i.fas.fa-crown
                    .service__name Пакет Vip
                    .service__description.text
                        | + Личный наставник<br>
                        | + Базовое обучение<br>
                        | + Vip обучение клуба<br>
                        | + Информация по проектам<br>
                        | + Командная работа <br>
                        | + Обучение Instagram<br>
                        | + Vip чат
                        | + Доходность от 10 до 30% в месяц и выше<br>
                        | + Стартовый капитал от 2000$
                    a.service__link(href="#popup-form") Выбрать
