include ../favicon/favicon

mixin head(data)
    -
        var title = data.title;

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(http-equiv="msthemecompatible" content="no")
    meta(name='format-detection', content='telephone=no')
    meta(name="format-detection" content="address=no")
    meta(name="HandheldFriendly" content="True")
    meta(http-equiv="Cache-Control" content="no-cache")
    meta(http-equiv="cleartype" content="on")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="application-name" content="Title")
    meta(name="msapplication-tooltip" content="Description")
    meta(name="author" content="Alexey Serpovskoy")
    meta(name="description" content="Аркадий Васильев - лучший частный инвестор!")
    meta(name="keywords" content="инвестиции, капитал, мотивация, карьерный рост, акции, вклады, прибыть, крипта, биржи")
    meta(name='theme-color', content='#7a6352')
    script(src="https://kit.fontawesome.com/cbc6564fff.js" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous")
    +favicon

    title= title
