mixin info()
    section.info
        .wrapper.info__wrapper
            .info__main.traced.hidd-block
                h3.info__subtitle Важно!
                h2.info__title.title Зачем тебе я?
                p.info__text.text
                    | У меня много партнеров по всему миру. В моём сопровождении у Вас не будет шанса на неудачу. 
                    | Я и другие лидеры обучаем осознанно, грамотно и максимально прибыльно зарабатывать на инвестициях.
                //- a(href="#").info__button Обратная связь
            .info__other
                h2.info__title2 3 причины инвестировать
                .info__block
                    .info__item
                        .info__icon.icon
                            i.fas.fa-mobile-alt
                        h3.info__name Максимальное удобство и доступность
                        p.info__text.text
                            | Если у вас есть смартфон или компьютер с доступом в интернет 
                            | - значит вы уже можете зарабатывать вместе с нами.
                    .info__item
                        .info__icon.icon
                            i.fas.fa-hand-holding-usd
                        h3.info__name Абсолютно пассивный доход
                        p.info__text.text
                            | Можно не работать и при этом получать достойную прибыль. 
                            | Ваши инвестиции обеспечат вас необходимым доходом.
                    .info__item
                        .info__icon.icon
                            i.fas.fa-chart-line
                        h3.info__name Максимальная доходность
                        p.info__text.text
                            | Максимум прибыли по любым параметрам - до 1000% годовых и
                            | десятки тысяч долларов в месяц. С нами и клубом Golden Island - это реально!
