@require "~rupture/rupture/index.styl"
@require "~normalize-styl/index.styl"
@require variables
@require functions
@require mixins
@require custom

require("slick-carousel/slick/slick.css")
require("slick-carousel/slick/slick-theme.css")

@require '../../modules/noscript/noscript.styl'
@require '../../modules/main/main.styl'
@require '../../modules/header/header.styl'
@require '../../modules/info/info.styl'
@require '../../modules/about/about.styl'
@require '../../modules/service/service.styl'
@require '../../modules/partner/partner.styl'
@require '../../modules/footer/footer.styl'
