//-----------------------MAIN
$wrapper-width = 1140px
$wrapper-width_t = 920px
$wrapper-width_mt = 790px
$wrapper-width_m = 620px
$wrapper-padding = 20px
$base-font-size = 16px
$base-line-height = normal

//-----------------------COLORS
$color-main = #c7a868
$color-main2 = #dbcca3
$color-main3 = #7a6352
$color-black2 = rgba(0, 0, 0, 0.8)
$color-grey = #808080
$color-white = #fff
$color-red = #c60a0a91
$color-text = #989394
//----------------------FONTS
$color-footer = #fff
$base-font-family = "Poppins", Arial, sans-serif

//----------------------@MEDIA
rupture.scale = 0 460px 768px ($wrapper-width + $wrapper-padding * 2)
rupture.scale-names = 'z' 'm' 't' 'l'
rupture.enable-em-breakpoints = false
rupture.anti-overlap = false
rupture.base-font-size = $base-font-size


