mixin footer()
    footer.footer#contacts
        .wrapper.footer__wrapper
            a.footer__logo.logo(onclick="window.location.reload()") Инвестиции<span>Аркадий Васильев</span>
            .footer__contacts
                a.footer__contact.footer__phone.text(href="tel:89998986701") 8(999) 898-67-01
                a.footer__contact.footer__mail.text(href="mailto:arkadiy_vasilev_invest@bk.ru") arkadiy_vasilev_invest@bk.ru
            .footer__social
                a.footer__link.footer__link-insta(href="https://instagram.com/arkadiy.vas?igshid=1dii07lxvutae")
                    i.fab.fa-instagram-square
                a.footer__link.footer__link-wa(href="https://wa.me/89998986701")
                    i.fab.fa-whatsapp
                a.footer__link.footer__link-telega(href="https://teleg.run/vasiliev_arkady")
                    i.fab.fa-telegram
                a.footer__link.footer__link-vk(href="https://vk.com/arkadiy_vas")
                    i.fab.fa-vk
