include ../modules/head/head
include ../modules/noscript/noscript

doctype html
html(lang='ru')

    head
        +head({'title': "Аркадий васильев"})
    body
        +noscript

        block content

